<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <button
                type="button"
                class="btn btn-primary me-1"
                (click)="onStartStream()"
                [disabled]="startStream"
            >Start stream</button>
            <button
                type="button"
                class="btn btn-secondary"
                (click)="onStopStream()"
                [disabled]="!startStream"
            >Stop stream</button>
        </div>
    </div>
    <app-media-player videoId="localVideo" [start]="startStream"></app-media-player>
</div>
