<div class="title" #title>
    <h4>Live Chat</h4>
</div>
<div class="chat-box"
     [ngStyle]="chatBoxHeight ? {'height': chatBoxHeight + 'px'} : null"
     *ngIf="messages.length === 0"
></div>
<div 
    class="chat-box" 
    [ngStyle]="chatBoxHeight ? {'height': chatBoxHeight + 'px'} : null"
    *ngIf="messages.length > 0"
>
    <div
        *ngFor="let m of messages" 
        class="person-message"
    >
        <div class="avatar">
            <img [src]="m.sender.avatar" alt="Avatar">
        </div>
        <div class="message">
            <span class="username">{{m.sender.name}}</span>
            <span class="content">{{m.msg}}</span>
        </div>
        <div class="message-time ms-1">
            <span class="content">{{m.time.getHours()}}:{{m.time.getMinutes()}}</span>
        </div>
    </div>
</div>
<div class="message-input" #messageInput>
    <span
        id="msg" 
        class="input ms-1" 
        role="textbox" 
        contenteditable 
        (input)="onChange($event)"
        (focusin)="submitting = true"
        (focusout)="submitting = false"
        (keydown.enter)="$event.preventDefault();onSubmit()"
    ></span>
    <div 
        class="send-btn" 
        (click)="onSubmit()" 
        [ngStyle]="!submitting ? {'color': '#888'} : null"
    >
        <i class="fas fa-paper-plane fa-lg"></i>
    </div>
</div>
