<div class="title" #title>
    <h4>Live Chat</h4>
</div>
<div class="chat-box" [ngStyle]="chatBoxHeight ? {'height': chatBoxHeight + 'px'} : null">
    <div class="person-message">
        <div class="avatar">
            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar">
        </div>
        <div class="message">
            <span>Hello</span>
        </div>
    </div>
    <div class="host-message">
        <div class="message">
            <span>Hi</span>
        </div>
    </div>
    <div class="person-message">
        <div class="avatar">
            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar">
        </div>
        <div class="message">
            <span>Hello</span>
        </div>
    </div>
    <div class="person-message">
        <div class="avatar">
            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar">
        </div>
        <div class="message">
            <span>Hello</span>
        </div>
    </div>
    <div class="person-message">
        <div class="avatar">
            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar">
        </div>
        <div class="message">
            <span>Hello</span>
        </div>
    </div>
    <div class="person-message">
        <div class="avatar">
            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar">
        </div>
        <div class="message">
            <span>Hello</span>
        </div>
    </div>
    <div class="person-message">
        <div class="avatar">
            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar">
        </div>
        <div class="message">
            <span>Hello</span>
        </div>
    </div>
    <div class="person-message">
        <div class="avatar">
            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar">
        </div>
        <div class="message">
            <span>Hello</span>
        </div>
    </div>
    <div class="person-message">
        <div class="avatar">
            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar">
        </div>
        <div class="message">
            <span>Hello</span>
        </div>
    </div>
    <div class="person-message">
        <div class="avatar">
            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar">
        </div>
        <div class="message">
            <span>Hello</span>
        </div>
    </div>
    <div class="person-message">
        <div class="avatar">
            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar">
        </div>
        <div class="message">
            <span>mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</span>
        </div>
    </div>
</div>
<div class="message-input" #messageInput>
    <span id="msg" class="input ms-1" role="textbox" contenteditable (input)="onChange($event)"></span>
    <div class="send-btn">
        <i class="fas fa-paper-plane fa-lg"></i>
    </div>
</div>
