<div class="row my-3">
    <div class="col-lg-8 ps-lg-0 video-stream" *ngIf="!streamEnded">
        <app-media-player 
            videoId="remoteVideo" 
            [playMode]="true" 
            (playStream)="onPlayStream($event)"
        ></app-media-player>
    </div>
    <div class="col-lg-4 mt-3 mt-lg-0 px-lg-0 chat-box-wrapper" *ngIf="!streamEnded">
        <app-chat-box
            [host]="false"
            [webRTCAdaptor]="webRTCAdaptor"
            [streamId]="streamId"
            [messageData]="data"
        ></app-chat-box>
    </div>
    <p class="text-center" *ngIf="streamEnded">Stream has ended!</p>
</div>

